<ion-view view-title="Contact Us">
  <ion-content overflow-scroll="false">
    <!-- Task 1 -->
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <div class="item item-text-wrap">
        <h2>Our Address</h2>
        <address style="font-size: 100%">
      121, Clear Water Bay Road
      <br> Clear Water Bay, Kowloon
      <br> HONG KONG
      <br>
      <i class="icon ion-android-call"></i>: +852 1234 5678
      <br>
      <i class="icon ion-printer"></i>: +852 8765 4321
      <br>
      <i class="icon ion-android-mail"></i>:
      <a href="mailto:confusion@food.net">confusion@food.net</a>
    </address>
      </div>
      <div class="button-bar">
        <a class="button button-positive icon-left ion-android-call">Call</a>
        <a class="button button-calm icon-left ion-social-skype">Skype</a>
        <a class="button button-balanced icon-left ion-android-mail">Email</a>
      </div>
    </div>
  </ion-content>
</ion-view>
