/* Empty. Add your own CSS if you like */

/*to fix scrollbar on Android*/
/*instead of <ion-content overflow-scroll="false">*/
/*ion-content {
  overflow-y: auto !important;
}*/
/*::-webkit-scrollbar {
    display: none;
}*/
/*.overflow-scroll {
     overflow-x: hidden;
     overflow-y: auto;
}*/
